kestra/flows/packaging-generator.yml
id: packaging-generator
namespace: company.team
description: |
  Generates video packaging: title and thumbnail text.
  Uses Gemini Vision to OCR original thumbnail and adapts for target language.

labels:
  project: faceless-video-generator
  type: subflow

inputs:
  - id: project_id
    type: STRING
    description: Project UUID
  - id: source_video_url
    type: STRING
    description: Original YouTube video URL
  - id: script
    type: STRING
    description: Generated script
  - id: language
    type: STRING
    description: Target language code
    defaults: pt-BR

outputs:
  - id: packaging
    type: STRING
    value: "{{ read(outputs.generate_packaging.outputFiles['packaging.json']) | default('{}') }}"

tasks:
  - id: get_video_info
    type: io.kestra.plugin.scripts.python.Script
    beforeCommands:
      - pip install requests > /dev/null 2>&1
    script: |
      import requests
      import json
      import re
      
      video_url = "{{ inputs.source_video_url }}"
      oembed_url = "https://www.youtube.com/oembed?url=" + video_url + "&format=json"
      
      result = {'title': '', 'thumbnail_url': '', 'thumbnail_url_hq': ''}
      
      try:
          response = requests.get(oembed_url, timeout=30)
          response.raise_for_status()
          data = response.json()
          
          result['title'] = data.get('title', '')
          result['author_name'] = data.get('author_name', '')
          result['thumbnail_url'] = data.get('thumbnail_url', '')
          
          patterns = [r'(?:v=|/v/|youtu\.be/|/embed/|/shorts/)([a-zA-Z0-9_-]{11})']
          video_id = None
          for pattern in patterns:
              match = re.search(pattern, video_url)
              if match:
                  video_id = match.group(1)
                  break
          
          if video_id:
              result['thumbnail_url'] = "https://img.youtube.com/vi/" + video_id + "/maxresdefault.jpg"
              result['thumbnail_url_hq'] = "https://img.youtube.com/vi/" + video_id + "/hqdefault.jpg"
          
          print("Video title: " + result['title'])
          
      except Exception as e:
          print("Error getting video info: " + str(e))
      
      with open('video_info.json', 'w') as f:
          json.dump(result, f, indent=2)
    outputFiles:
      - video_info.json

  - id: download_and_ocr_thumbnail
    type: io.kestra.plugin.scripts.python.Script
    beforeCommands:
      - pip install google-generativeai pillow requests > /dev/null 2>&1
    env:
      GOOGLE_API_KEY: "{{ kv('GOOGLE_API_KEY') }}"
    inputFiles:
      video_info.json: "{{ outputs.get_video_info.outputFiles['video_info.json'] }}"
    script: |
      import google.generativeai as genai
      import os
      import json
      import requests
      
      genai.configure(api_key=os.environ['GOOGLE_API_KEY'])
      model = genai.GenerativeModel('gemini-3-flash-preview')
      
      with open('video_info.json', 'r') as f:
          video_info = json.load(f)
      
      thumbnail_url = video_info.get('thumbnail_url', '')
      thumbnail_url_hq = video_info.get('thumbnail_url_hq', '')
      
      # Download thumbnail
      thumbnail_path = 'thumbnail.jpg'
      downloaded = False
      
      for url in [thumbnail_url, thumbnail_url_hq]:
          if url:
              try:
                  response = requests.get(url, timeout=30)
                  if response.status_code == 200 and len(response.content) > 1000:
                      with open(thumbnail_path, 'wb') as f:
                          f.write(response.content)
                      downloaded = True
                      print("Downloaded thumbnail from: " + url)
                      break
              except:
                  pass
      
      result = {
          'title': video_info.get('title', ''),
          'thumbnail_text': ''
      }
      
      if downloaded:
          try:
              import PIL.Image
              img = PIL.Image.open(thumbnail_path)
              
              prompt_lines = [
                  "OCR the text on this YouTube thumbnail image.",
                  "",
                  "Reply with ONLY the exact text you see on the thumbnail.",
                  "Keep the exact punctuation and capitalization.",
                  "If there are multiple text elements, separate them with |",
                  "If no text is visible, reply with: NO_TEXT_FOUND"
              ]
              
              response = model.generate_content(["\n".join(prompt_lines), img])
              thumbnail_text = response.text.strip()
              
              if 'NO_TEXT_FOUND' not in thumbnail_text:
                  result['thumbnail_text'] = thumbnail_text
                  print("Thumbnail text: " + thumbnail_text)
              else:
                  print("No text found on thumbnail")
          except Exception as e:
              print("OCR failed: " + str(e))
      else:
          print("Could not download thumbnail")
      
      with open('ocr_result.json', 'w') as f:
          json.dump(result, f, indent=2)
    outputFiles:
      - ocr_result.json

  - id: generate_packaging
    type: io.kestra.plugin.scripts.python.Script
    beforeCommands:
      - pip install google-generativeai > /dev/null 2>&1
    env:
      GOOGLE_API_KEY: "{{ kv('GOOGLE_API_KEY') }}"
    inputFiles:
      ocr_result.json: "{{ outputs.download_and_ocr_thumbnail.outputFiles['ocr_result.json'] }}"
    script: |
      import google.generativeai as genai
      import os
      import json
      import re
      
      genai.configure(api_key=os.environ['GOOGLE_API_KEY'])
      model = genai.GenerativeModel('gemini-3-flash-preview')
      
      with open('ocr_result.json', 'r') as f:
          ocr_data = json.load(f)
      
      original_title = ocr_data.get('title', '')
      thumbnail_text = ocr_data.get('thumbnail_text', '')
      script = """{{ inputs.script }}"""[:5000]
      language_code = "{{ inputs.language }}"
      
      language_names = {
          'pt-BR': 'Portuguese (Brazil)',
          'en-US': 'English (US)',
          'es-ES': 'Spanish (Spain)',
          'ja-JP': 'Japanese',
          'it-IT': 'Italian'
      }
      language_name = language_names.get(language_code, 'English (US)')
      
      prompt_lines = [
          "Generate YouTube video packaging in " + language_name + ".",
          "",
          "REFERENCE (for inspiration only, do NOT copy directly):",
          "- Original title: " + original_title,
          "- Original thumbnail text: " + thumbnail_text,
          "",
          "SCRIPT (use this for accuracy):",
          script,
          "",
          "GENERATE:",
          "1. thumbnail_text: A dramatic, engaging text for the thumbnail (similar length to original)",
          "   - Use normal sentence capitalization (not ALL CAPS)",
          "   - Use proper quotation marks for the language",
          "   - NEVER use character names - viewers do not know who they are!",
          "   - Use relationship descriptors instead (my mother, my son, the neighbor, etc.)",
          "",
          "2. title: An engaging video title",
          "   - Around 60-80 characters",
          "   - Provocative and emotional hook",
          "   - Similar style to original but adapted to the script",
          "",
          'OUTPUT FORMAT (JSON only, no markdown):',
          '{"thumbnail_text": "your thumbnail text here", "title": "your title here"}'
      ]
      
      response = model.generate_content(
          "\n".join(prompt_lines),
          generation_config=genai.GenerationConfig(
              temperature=0.7,
              response_mime_type="application/json"
          )
      )
      
      try:
          packaging = json.loads(response.text)
      except:
          match = re.search(r'\{[\s\S]*\}', response.text)
          if match:
              packaging = json.loads(match.group())
          else:
              packaging = {
                  "thumbnail_text": "Drama revelado!",
                  "title": "Historia incrivel que voce precisa ver"
              }
      
      if 'thumbnail_text' not in packaging:
          packaging['thumbnail_text'] = ''
      if 'title' not in packaging:
          packaging['title'] = ''
      
      print("Title: " + packaging['title'])
      print("Thumbnail: " + packaging['thumbnail_text'])
      
      with open('packaging.json', 'w', encoding='utf-8') as f:
          json.dump(packaging, f, ensure_ascii=False, indent=2)
    outputFiles:
      - packaging.json
