kestra/flows/packaging-generator.yml
id: packaging-generator
namespace: company.team
description: |
  Generates video packaging: title and thumbnail text.
  Uses Gemini Vision to OCR original thumbnail and adapts for target language.

labels:
  project: faceless-video-generator
  type: subflow

inputs:
  - id: project_id
    type: STRING
    description: Project UUID
  - id: source_video_url
    type: STRING
    description: Original YouTube video URL
  - id: script
    type: STRING
    description: Generated script
  - id: language
    type: STRING
    description: Target language code
    defaults: pt-BR

outputs:
  - id: packaging
    type: STRING
    value: "{{ outputs.generate_packaging.vars.packaging_json }}"

tasks:
  - id: get_video_info
    type: io.kestra.plugin.scripts.python.Script
    beforeCommands:
      - pip install requests > /dev/null 2>&1
    script: |
      import requests
      import json
      import re
      
      video_url = "{{ inputs.source_video_url }}"
      oembed_url = "https://www.youtube.com/oembed?url=" + video_url + "&format=json"
      
      try:
          response = requests.get(oembed_url, timeout=30)
          response.raise_for_status()
          data = response.json()
          
          result = {
              'title': data.get('title', ''),
              'author_name': data.get('author_name', ''),
              'thumbnail_url': data.get('thumbnail_url', '')
          }
          
          patterns = [r'(?:v=|/v/|youtu\.be/|/embed/)([a-zA-Z0-9_-]{11})']
          video_id = None
          for pattern in patterns:
              match = re.search(pattern, video_url)
              if match:
                  video_id = match.group(1)
                  break
          
          if video_id:
              result['thumbnail_url'] = "https://img.youtube.com/vi/" + video_id + "/maxresdefault.jpg"
              result['thumbnail_url_hq'] = "https://img.youtube.com/vi/" + video_id + "/hqdefault.jpg"
          
          with open('video_info.json', 'w') as f:
              json.dump(result, f, indent=2)
          
          print("Video title: " + result['title'])
          print("::output title::" + result['title'])
          print("::output thumbnail_url::" + result['thumbnail_url'])
          
      except Exception as e:
          print("Error getting video info: " + str(e))
          with open('video_info.json', 'w') as f:
              json.dump({'title': '', 'thumbnail_url': ''}, f)
    outputFiles:
      - video_info.json

  - id: download_thumbnail
    type: io.kestra.plugin.core.http.Download
    uri: "{{ outputs.get_video_info.vars.thumbnail_url }}"
    failOnEmptyResponse: false

  - id: ocr_thumbnail
    type: io.kestra.plugin.scripts.python.Script
    beforeCommands:
      - pip install google-generativeai pillow > /dev/null 2>&1
    env:
      GOOGLE_API_KEY: "{{ kv('GOOGLE_API_KEY') }}"
    inputFiles:
      thumbnail.jpg: "{{ outputs.download_thumbnail.uri }}"
    script: |
      import google.generativeai as genai
      import os
      from pathlib import Path
      
      genai.configure(api_key=os.environ['GOOGLE_API_KEY'])
      model = genai.GenerativeModel('gemini-2.0-flash')
      
      image_path = Path('thumbnail.jpg')
      
      if not image_path.exists() or image_path.stat().st_size < 1000:
          print("Thumbnail not available or too small")
          print("::output thumbnail_text::No text found")
          exit(0)
      
      import PIL.Image
      img = PIL.Image.open(image_path)
      
      prompt_lines = [
          "OCR the text on this YouTube thumbnail image.",
          "",
          "Reply with ONLY the exact text you see on the thumbnail.",
          "Keep the exact punctuation and capitalization.",
          "If there are multiple text elements, separate them with |",
          "If no text is visible, reply with: NO_TEXT_FOUND"
      ]
      prompt = "\n".join(prompt_lines)
      
      try:
          response = model.generate_content([prompt, img])
          thumbnail_text = response.text.strip()
          
          if 'NO_TEXT_FOUND' in thumbnail_text:
              thumbnail_text = ''
          
          print("Thumbnail text: " + thumbnail_text)
          print("::output thumbnail_text::" + thumbnail_text)
      except Exception as e:
          print("OCR failed: " + str(e))
          print("::output thumbnail_text::")

  - id: get_language_labels
    type: io.kestra.plugin.scripts.python.Script
    script: |
      import json
      
      language_code = "{{ inputs.language }}"
      
      labels = {
          'pt-BR': {'language_name': 'Portuguese (Brazil)'},
          'en-US': {'language_name': 'English (US)'},
          'es-ES': {'language_name': 'Spanish (Spain)'},
          'ja-JP': {'language_name': 'Japanese'},
          'it-IT': {'language_name': 'Italian'}
      }
      
      config = labels.get(language_code, labels['en-US'])
      print("::output language_name::" + config['language_name'])

  - id: generate_packaging
    type: io.kestra.plugin.scripts.python.Script
    beforeCommands:
      - pip install google-generativeai > /dev/null 2>&1
    env:
      GOOGLE_API_KEY: "{{ kv('GOOGLE_API_KEY') }}"
    script: |
      import google.generativeai as genai
      import os
      import json
      import re
      
      genai.configure(api_key=os.environ['GOOGLE_API_KEY'])
      model = genai.GenerativeModel('gemini-2.0-flash')
      
      original_title = """{{ outputs.get_video_info.vars.title }}"""
      thumbnail_text = """{{ outputs.ocr_thumbnail.vars.thumbnail_text }}"""
      script = """{{ inputs.script }}"""[:5000]
      language_name = "{{ outputs.get_language_labels.vars.language_name }}"
      language_code = "{{ inputs.language }}"
      
      prompt_lines = [
          "Generate YouTube video packaging in " + language_name + ".",
          "",
          "REFERENCE (for inspiration only, do NOT copy directly):",
          "- Original title: " + original_title,
          "- Original thumbnail text: " + thumbnail_text,
          "",
          "SCRIPT (use this for accuracy):",
          script,
          "",
          "GENERATE:",
          "1. thumbnail_text: A dramatic, engaging text for the thumbnail (similar length to original)",
          "   - Use normal sentence capitalization (not ALL CAPS)",
          "   - Use proper quotation marks for the language",
          "   - NEVER use character names - viewers do not know who they are!",
          "   - Use relationship descriptors instead (my mother, my son, the neighbor, etc.)",
          "",
          "2. title: An engaging video title",
          "   - Around 60-80 characters",
          "   - Provocative and emotional hook",
          "   - Similar style to original but adapted to the script",
          "",
          'OUTPUT FORMAT (JSON only, no markdown):',
          '{"thumbnail_text": "your thumbnail text here", "title": "your title here"}'
      ]
      prompt = "\n".join(prompt_lines)
      
      response = model.generate_content(
          prompt,
          generation_config=genai.GenerationConfig(
              temperature=0.7,
              response_mime_type="application/json"
          )
      )
      
      try:
          packaging = json.loads(response.text)
      except:
          match = re.search(r'\{[\s\S]*\}', response.text)
          if match:
              packaging = json.loads(match.group())
          else:
              packaging = {
                  "thumbnail_text": "Drama revelado!",
                  "title": "Historia incrivel que voce precisa ver"
              }
      
      if 'thumbnail_text' not in packaging:
          packaging['thumbnail_text'] = ''
      if 'title' not in packaging:
          packaging['title'] = ''
      
      packaging_json = json.dumps(packaging, ensure_ascii=False)
      
      print("Title: " + packaging['title'])
      print("Thumbnail: " + packaging['thumbnail_text'])
      print("::output packaging_json::" + packaging_json)
