kestra/flows/script-generator.yml
id: script-generator
namespace: company.team
description: |
  Generates a video script based on the transcript.
  Adapts the story to the target language using Gemini.
  Creates a 3-chapter story structure.

labels:
  project: faceless-video-generator
  type: subflow

inputs:
  - id: project_id
    type: STRING
    description: Project UUID
  - id: transcript
    type: STRING
    description: Original video transcript
  - id: language
    type: STRING
    description: Target language code (pt-BR, en-US, es-ES, ja-JP, it-IT)
    defaults: pt-BR

outputs:
  - id: script
    type: STRING
    value: "{{ read(outputs.generate_full_script.outputFiles['final_script.txt']) | default('') }}"

tasks:
  - id: get_character_names
    type: io.kestra.plugin.core.http.Request
    uri: "{{ kv('SUPABASE_URL') }}/rest/v1/character_names?language=eq.{{ inputs.language }}&select=*"
    method: GET
    headers:
      apikey: "{{ kv('SUPABASE_ANON_KEY') }}"
      Authorization: "Bearer {{ kv('SUPABASE_ANON_KEY') }}"

  - id: select_random_names
    type: io.kestra.plugin.scripts.python.Script
    inputFiles:
      names.json: "{{ outputs.get_character_names.body }}"
    script: |
      import json
      import random
      
      with open('names.json', 'r') as f:
          all_names = json.load(f)
      
      young_female = [n['name'] for n in all_names if n['gender'] == 'female' and n['age_group'] == 'young']
      old_female = [n['name'] for n in all_names if n['gender'] == 'female' and n['age_group'] == 'old']
      young_male = [n['name'] for n in all_names if n['gender'] == 'male' and n['age_group'] == 'young']
      old_male = [n['name'] for n in all_names if n['gender'] == 'male' and n['age_group'] == 'old']
      
      selected = {
          'protagonist_female_young': random.choice(young_female) if young_female else 'Ana',
          'protagonist_female_old': random.choice(old_female) if old_female else 'Dona Maria',
          'protagonist_male_young': random.choice(young_male) if young_male else 'Pedro',
          'protagonist_male_old': random.choice(old_male) if old_male else 'Seu Jose'
      }
      
      with open('selected_names.json', 'w') as f:
          json.dump(selected, f)
      
      print("Selected names: " + str(selected))
    outputFiles:
      - selected_names.json

  - id: get_language_config
    type: io.kestra.plugin.scripts.python.Script
    script: |
      import json
      
      language_code = "{{ inputs.language }}"
      
      configs = {
          'pt-BR': {
              'name': 'Portuguese (Brazil)',
              'system_prompt_prefix': 'Voce e um contador de historias brasileiro especializado em narrativas dramaticas.',
              'chapter_prompt': 'Escreva o capitulo em portugues brasileiro, usando linguagem coloquial mas nao vulgar.',
              'hook_instruction': 'Comece direto na acao, sem introducoes. O primeiro paragrafo deve prender o leitor imediatamente.',
              'engagement_prompt': 'Antes do climax do primeiro capitulo, peca aos leitores para comentar de onde estao assistindo.'
          },
          'en-US': {
              'name': 'English (US)',
              'system_prompt_prefix': 'You are an American storyteller specializing in dramatic narratives.',
              'chapter_prompt': 'Write the chapter in American English, using conversational but not vulgar language.',
              'hook_instruction': 'Start directly in the action, no introductions. The first paragraph must hook the reader immediately.',
              'engagement_prompt': 'Before the climax of the first chapter, ask readers to comment where they are watching from.'
          },
          'es-ES': {
              'name': 'Spanish (Spain)',
              'system_prompt_prefix': 'Eres un narrador espanol especializado en narrativas dramaticas.',
              'chapter_prompt': 'Escribe el capitulo en espanol, usando lenguaje coloquial pero no vulgar.',
              'hook_instruction': 'Comienza directamente en la accion, sin introducciones. El primer parrafo debe enganchar al lector inmediatamente.',
              'engagement_prompt': 'Antes del climax del primer capitulo, pide a los lectores que comenten desde donde estan viendo.'
          },
          'ja-JP': {
              'name': 'Japanese',
              'system_prompt_prefix': 'You are a Japanese storyteller specializing in dramatic narratives.',
              'chapter_prompt': 'Write the chapter in Japanese, using conversational but polite language.',
              'hook_instruction': 'Start directly in the action, no introductions.',
              'engagement_prompt': 'Before the climax of the first chapter, ask readers to comment where they are watching from.'
          },
          'it-IT': {
              'name': 'Italian',
              'system_prompt_prefix': 'Sei un narratore italiano specializzato in storie drammatiche.',
              'chapter_prompt': 'Scrivi il capitolo in italiano, usando un linguaggio colloquiale ma non volgare.',
              'hook_instruction': 'Inizia direttamente nell azione, senza introduzioni. Il primo paragrafo deve catturare immediatamente il lettore.',
              'engagement_prompt': 'Prima del climax del primo capitolo, chiedi ai lettori di commentare da dove stanno guardando.'
          }
      }
      
      config = configs.get(language_code, configs['en-US'])
      
      with open('lang_config.json', 'w') as f:
          json.dump(config, f)
      
      print("Language config: " + language_code)
    outputFiles:
      - lang_config.json

  - id: generate_full_script
    type: io.kestra.plugin.scripts.python.Script
    beforeCommands:
      - pip install google-generativeai > /dev/null 2>&1
    env:
      GOOGLE_API_KEY: "{{ kv('GOOGLE_API_KEY') }}"
    inputFiles:
      names.json: "{{ outputs.select_random_names.outputFiles['selected_names.json'] }}"
      lang_config.json: "{{ outputs.get_language_config.outputFiles['lang_config.json'] }}"
    script: |
      import google.generativeai as genai
      import os
      import json
      import time
      
      genai.configure(api_key=os.environ['GOOGLE_API_KEY'])
      model = genai.GenerativeModel('gemini-3-flash-preview')
      
      transcript = """{{ inputs.transcript }}"""[:15000]
      
      with open('names.json', 'r', encoding='utf-8') as f:
          names = json.load(f)
      
      with open('lang_config.json', 'r', encoding='utf-8') as f:
          lang_config = json.load(f)
      
      language_name = lang_config['name']
      
      # Step 1: Create story structure
      print("Creating story structure...")
      structure_prompt_lines = [
          "Analyze this video transcript and create a 3-chapter story structure following the three-act structure.",
          "",
          "CRITICAL: The story MUST begin in medias res - Chapter 1 starts directly within the main confrontation/action.",
          "",
          "Transcript:",
          transcript,
          "",
          "Create the structure in " + language_name + ". For each chapter, provide:",
          "1. Chapter title",
          "2. 2-3 key events that happen",
          "3. Emotional arc for that chapter",
          "",
          "The hook (first 5-10 sentences) is CRUCIAL - these key moments must be preserved.",
          "",
          "Output as JSON with this exact format:",
          '{"story_overview": "Brief overview", "chapters": [{"number": 1, "title": "Title", "key_events": ["event1"], "emotional_arc": "..."}, {"number": 2, "title": "...", "key_events": [], "emotional_arc": "..."}, {"number": 3, "title": "...", "key_events": [], "emotional_arc": "..."}]}'
      ]
      
      response = model.generate_content("\n".join(structure_prompt_lines))
      
      import re
      json_match = re.search(r'\{[\s\S]*\}', response.text)
      if json_match:
          structure = json.loads(json_match.group())
      else:
          structure = {"story_overview": "", "chapters": [{"number": 1, "title": "Chapter 1", "key_events": [], "emotional_arc": ""}, {"number": 2, "title": "Chapter 2", "key_events": [], "emotional_arc": ""}, {"number": 3, "title": "Chapter 3", "key_events": [], "emotional_arc": ""}]}
      
      print("Story structure created with " + str(len(structure.get('chapters', []))) + " chapters")
      
      # System prompt for all chapters
      system_lines = [
          lang_config['system_prompt_prefix'],
          "",
          "You are the MAIN CHARACTER of this story. Write from your perspective in FIRST PERSON.",
          "The narration must feel like events are happening RIGHT NOW.",
          "",
          "NARRATIVE STYLE:",
          "- Always use first person singular (I, me, my)",
          "- Draw the reader directly into the action",
          "- Use rhetorical questions that come to mind",
          "- Show emotions directly",
          "- Write conversationally but not vulgarly",
          "",
          "FORMAT RULES:",
          "- FIRST SENTENCE RULE: Always start with direct speech, a sudden action, or a strong thought",
          '- NEVER start with: "So, I was sitting...", "I remember..."',
          "- Pure narrative text only. NO chapter headings.",
          '- Write numbers as words',
          "",
          lang_config['chapter_prompt'],
          "",
          "CHARACTER NAMES:",
          "- Older woman: " + names['protagonist_female_old'],
          "- Younger woman: " + names['protagonist_female_young'],
          "- Younger man: " + names['protagonist_male_young'],
          "- Older man: " + names['protagonist_male_old']
      ]
      system_prompt = "\n".join(system_lines)
      
      # Generate all 3 chapters
      chapters = []
      for chapter_num in range(1, 4):
          print("Generating chapter " + str(chapter_num) + "...")
          
          chapter_info = structure['chapters'][chapter_num - 1] if len(structure['chapters']) >= chapter_num else {}
          
          user_lines = [
              "Story Structure:",
              json.dumps(structure, ensure_ascii=False, indent=2),
              "",
              "Write Chapter " + str(chapter_num) + ". Target: ~7000 characters.",
              str(chapter_info.get('key_events', []))
          ]
          
          if chapter_num == 1:
              user_lines.append("")
              user_lines.append(lang_config['hook_instruction'])
              user_lines.append(lang_config['engagement_prompt'])
          
          user_lines.append("")
          user_lines.append("Write ONLY the chapter text, no titles.")
          
          response = model.generate_content(
              [system_prompt, "\n".join(user_lines)],
              generation_config=genai.GenerationConfig(
                  temperature=0.8,
                  max_output_tokens=4000
              )
          )
          
          chapter_text = response.text.strip()
          chapters.append(chapter_text)
          print("Chapter " + str(chapter_num) + ": " + str(len(chapter_text)) + " chars")
          
          # Small delay between chapters to avoid rate limits
          if chapter_num < 3:
              time.sleep(2)
      
      # Merge all chapters
      final_script = '\n\n'.join(chapters)
      
      with open('final_script.txt', 'w', encoding='utf-8') as f:
          f.write(final_script)
      
      print("Final script: " + str(len(final_script)) + " characters")
    outputFiles:
      - final_script.txt
