kestra/flows/transcript-fetcher.yml
id: transcript-fetcher
namespace: company.team
description: |
  Fetches the transcript/captions from a YouTube video.
  Uses youtube-transcript-api to extract captions.

labels:
  project: faceless-video-generator
  type: subflow

inputs:
  - id: video_url
    type: STRING
    description: YouTube video URL

outputs:
  - id: transcript
    type: STRING
    value: "{{ read(outputs.extract_transcript.outputFiles['transcript.txt']) | default('') }}"
  - id: summary
    type: STRING
    value: "{{ read(outputs.generate_summary.outputFiles['summary.txt']) | default('No summary available') }}"

tasks:
  - id: extract_transcript
    type: io.kestra.plugin.scripts.python.Script
    beforeCommands:
      - pip install youtube-transcript-api > /dev/null 2>&1
    script: |
      import re
      from youtube_transcript_api import YouTubeTranscriptApi
      
      video_url = "{{ inputs.video_url }}"
      
      patterns = [
          r'(?:v=|/v/|youtu\.be/|/embed/|/shorts/)([a-zA-Z0-9_-]{11})',
          r'^([a-zA-Z0-9_-]{11})$'
      ]
      
      video_id = None
      for pattern in patterns:
          match = re.search(pattern, video_url)
          if match:
              video_id = match.group(1)
              break
      
      if not video_id:
          print("Could not extract video ID from: " + video_url)
          with open('transcript.txt', 'w', encoding='utf-8') as f:
              f.write("Error: Could not extract video ID")
          exit(0)
      
      print("Video ID: " + video_id)
      
      transcript = None
      
      # Try different language codes
      languages_to_try = [
          ['en'],
          ['en-US'],
          ['pt'],
          ['pt-BR'],
          ['es'],
          ['ja'],
          ['it']
      ]
      
      # First try: get transcript with auto-detection
      try:
          transcript = YouTubeTranscriptApi.get_transcript(video_id)
          print("Got transcript with auto-detection")
      except Exception as e1:
          print("Auto-detection failed: " + str(e1)[:100])
          
          # Second try: try specific languages
          for lang in languages_to_try:
              try:
                  transcript = YouTubeTranscriptApi.get_transcript(video_id, languages=lang)
                  print("Got transcript in: " + str(lang))
                  break
              except:
                  continue
      
      if transcript:
          full_text = ' '.join([segment['text'] for segment in transcript])
          full_text = full_text.replace('\n', ' ').replace('  ', ' ').strip()
          
          print("Transcript length: " + str(len(full_text)) + " characters")
          
          with open('transcript.txt', 'w', encoding='utf-8') as f:
              f.write(full_text)
      else:
          print("No transcript found for this video")
          with open('transcript.txt', 'w', encoding='utf-8') as f:
              f.write("No transcript found")
    outputFiles:
      - transcript.txt

  - id: generate_summary
    type: io.kestra.plugin.scripts.python.Script
    beforeCommands:
      - pip install google-generativeai > /dev/null 2>&1
    env:
      GOOGLE_API_KEY: "{{ kv('GOOGLE_API_KEY') }}"
    inputFiles:
      transcript.txt: "{{ outputs.extract_transcript.outputFiles['transcript.txt'] }}"
    script: |
      import google.generativeai as genai
      import os
      
      genai.configure(api_key=os.environ['GOOGLE_API_KEY'])
      model = genai.GenerativeModel('gemini-3-flash-preview')
      
      try:
          with open('transcript.txt', 'r', encoding='utf-8') as f:
              transcript = f.read()
      except:
          transcript = "No transcript available"
      
      if len(transcript) < 50 or transcript.startswith("Error") or transcript.startswith("No transcript") or transcript.startswith("Transcripts disabled"):
          summary = "Summary not available - transcript could not be fetched"
          print("Skipping summary generation - no valid transcript")
      else:
          prompt_lines = [
              "Based on the following video transcript, provide a brief summary (2-3 sentences) that captures the main story or content.",
              "",
              "Transcript:",
              transcript[:5000],
              "",
              "Summary:"
          ]
          prompt = "\n".join(prompt_lines)
          
          response = model.generate_content(prompt)
          summary = response.text.strip()[:500]
      
      print("Summary: " + summary)
      
      with open('summary.txt', 'w', encoding='utf-8') as f:
          f.write(summary)
    outputFiles:
      - summary.txt
