kestra/flows/transcript-fetcher.yml
id: transcript-fetcher
namespace: company.team
description: |
  Fetches the transcript/captions from a YouTube video.
  Uses youtube-transcript-api to extract captions.

labels:
  project: faceless-video-generator
  type: subflow

inputs:
  - id: video_url
    type: STRING
    description: YouTube video URL

outputs:
  - id: transcript
    type: STRING
    value: "{{ outputs.extract_transcript.vars.transcript | default('') }}"
  - id: summary
    type: STRING
    value: "{{ outputs.generate_summary.vars.summary | default('No summary available') }}"

tasks:
  - id: extract_video_id
    type: io.kestra.plugin.scripts.python.Script
    script: |
      import re
      
      video_url = "{{ inputs.video_url }}"
      
      patterns = [
          r'(?:v=|/v/|youtu\.be/|/embed/|/shorts/)([a-zA-Z0-9_-]{11})',
          r'^([a-zA-Z0-9_-]{11})$'
      ]
      
      video_id = None
      for pattern in patterns:
          match = re.search(pattern, video_url)
          if match:
              video_id = match.group(1)
              break
      
      if not video_id:
          raise Exception("Could not extract video ID from: " + video_url)
      
      print("Video ID: " + video_id)
      print("::output video_id::" + video_id)

  - id: extract_transcript
    type: io.kestra.plugin.scripts.python.Script
    beforeCommands:
      - pip install youtube-transcript-api > /dev/null 2>&1
    script: |
      from youtube_transcript_api import YouTubeTranscriptApi
      from youtube_transcript_api._errors import TranscriptsDisabled, NoTranscriptFound
      import json
      
      video_id = "{{ outputs.extract_video_id.vars.video_id }}"
      
      try:
          transcript_list = YouTubeTranscriptApi.list_transcripts(video_id)
          
          transcript = None
          
          try:
              for t in transcript_list:
                  if not t.is_generated:
                      transcript = t.fetch()
                      print("Found manual transcript in: " + t.language)
                      break
          except:
              pass
          
          if not transcript:
              for t in transcript_list:
                  if t.is_generated:
                      transcript = t.fetch()
                      print("Found auto-generated transcript in: " + t.language)
                      break
          
          if not transcript:
              transcript = YouTubeTranscriptApi.get_transcript(video_id)
          
          full_text = ' '.join([segment['text'] for segment in transcript])
          full_text = full_text.replace('\n', ' ').replace('  ', ' ').strip()
          full_text = full_text.replace('"', "'")
          
          print("Transcript length: " + str(len(full_text)) + " characters")
          
          with open('transcript.txt', 'w', encoding='utf-8') as f:
              f.write(full_text)
          
          print("::output transcript::" + full_text[:30000])
          
      except TranscriptsDisabled:
          print("Transcripts are disabled for this video")
          print("::output transcript::Transcripts disabled")
      except NoTranscriptFound:
          print("No transcript found for this video")
          print("::output transcript::No transcript found")
      except Exception as e:
          print("Error fetching transcript: " + str(e))
          print("::output transcript::Error fetching transcript")
    outputFiles:
      - transcript.txt

  - id: generate_summary
    type: io.kestra.plugin.scripts.python.Script
    beforeCommands:
      - pip install google-generativeai > /dev/null 2>&1
    env:
      GOOGLE_API_KEY: "{{ kv('GOOGLE_API_KEY') }}"
    inputFiles:
      transcript.txt: "{{ outputs.extract_transcript.outputFiles['transcript.txt'] }}"
    script: |
      import google.generativeai as genai
      import os
      
      genai.configure(api_key=os.environ['GOOGLE_API_KEY'])
      model = genai.GenerativeModel('gemini-2.0-flash')
      
      try:
          with open('transcript.txt', 'r', encoding='utf-8') as f:
              transcript = f.read()
      except:
          transcript = "No transcript available"
      
      if len(transcript) < 50 or transcript.startswith("Error") or transcript.startswith("No transcript"):
          summary = "Summary not available - transcript could not be fetched"
          print("Skipping summary generation - no valid transcript")
      else:
          prompt_lines = [
              "Based on the following video transcript, provide a brief summary (2-3 sentences) that captures the main story or content.",
              "",
              "Transcript:",
              transcript[:5000],
              "",
              "Summary:"
          ]
          prompt = "\n".join(prompt_lines)
          
          response = model.generate_content(prompt)
          summary = response.text.strip()
          summary = summary.replace('"', "'")[:500]
      
      print("Summary: " + summary)
      print("::output summary::" + summary)
